@use '../../styles/size/typography.scss';

.ui-switch {
    &-root {
        all: unset;
        background-color: var(--gray-500);
        border: var(--border-M) solid var(--gray-700);
        border-radius: 9999px;
        display: flex;
        align-items: center;
        position: relative;
        box-shadow: var(--shadow-S);
        -webkit-tap-highlight-color: none;
        outline: 0;

        &:hover {
            background-color: var(--gray-600);
        }

        &[data-state='checked'] {
            background-color: var(--blue-500);
        }
    }

    &-thumb {
        display: block;
        background-color: var(--gray-0);
        border-radius: 9999px;
        box-shadow: 0 2px 2px var(--gray-700);
        transition: transform 100ms;
        will-change: transform;
    }

    &-label {
        color: var(--text-primary);
        padding-left: 15px;
        line-height: 1;
        user-select: none;
    }

    &-size--XS {
        .ui-switch-root {
            width: 20px;
            height: 12px;
        }

        .ui-switch-thumb {
            width: 8px;
            height: 8px;
            transform: translateX(2px);

            &[data-state='checked'] {
                transform: translateX(10px);
            }
        }

        .ui-switch-label {
            @include typography.text(XS);
        }
    }

    &-size--S {
        .ui-switch-root {
            width: 24px;
            height: 14px;
        }

        .ui-switch-thumb {
            width: 12px;
            height: 12px;
            transform: translateX(1px);

            &[data-state='checked'] {
                transform: translateX(10px);
            }
        }

        .ui-switch-label {
            @include typography.text(S);
        }
    }

    &-size--M {
        .ui-switch-root {
            width: 28px;
            height: 17px;
        }

        .ui-switch-thumb {
            width: 14px;
            height: 14px;
            transform: translateX(1px);

            &[data-state='checked'] {
                transform: translateX(12px);
            }
        }

        .ui-switch-label {
            @include typography.text(M);
        }
    }

    &-size--L {
        .ui-switch-root {
            width: 36px;
            height: 21px;
        }

        .ui-switch-thumb {
            width: 17px;
            height: 17px;
            transform: translateX(2px);

            &[data-state='checked'] {
                transform: translateX(17px);
            }
        }

        .ui-switch-label {
            @include typography.text(L);
        }
    }

    &-size--XL {
        .ui-switch-root {
            width: 42px;
            height: 24px;
        }

        .ui-switch-thumb {
            width: 20px;
            height: 20px;
            transform: translateX(2px);

            &[data-state='checked'] {
                transform: translateX(20px);
            }
        }

        .ui-switch-label {
            @include typography.text(XL);
        }
    }
}
